<p>
  Кто-то попросил сбросить пароль для электронной почты: {{ email }}. Перейдите по ссылке ниже, или проигнорируйте это письмо.
</p>

<p>
  Вы получили это письмо, потому что вы (или кто-то другой) запросили восстановление пароля от учётной записи на сайте {{ domain }}, которая связана с этим адресом электронной почты.
</p>

<p>
  Пожалуйста, перейдите на эту страницу и введите новый пароль:<br>
  <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">восстановить пароль</a><br>
</p>

<p>
  Ваше имя пользователя (на случай, если вы его забыли): {{ user.username }}
</p>

<p>
  Спасибо, что используете наш сайт!
<p>

<footer style="height: 40px; background: red;">
  Команда сайта {{ domain }}
</footer>
