{% extends 'base.html' %}

{% block title %}
  Password Reset Done
{% endblock %}

{% block content %}
  <h2 class="text-2xl font-bold text-green-900">
    Не удалось подтвердить адрес электронной почты
  </h2>
  <p class="mt-4 text-lg text-gray-800">
    {{activation_error.message}}
  </p>
  <p class="mt-4 text-lg text-gray-800">
    {% if activation_error.code == "already_activated" %}
      Адрес электронной почты уже подтвержден.
    {% elif activation_error.code == "bad_username" %}
      Не удалось определить пользователя.
    {% elif activation_error.code == "expired" %}
      Время для подтверждения почты истекло.
    {% elif activation_error.code == "invalid_key" %}
      Недействительный ключ активации.
    {% endif %}
  </p>
{% endblock %}
