{% extends 'base.html' %}

{% block title %}
  Password Reset Done
{% endblock %}

{% block content %}
  {% if request.session.reset_email %}
    <h2 class="text-2xl font-bold text-green-900">
      На адрес электронной почты "{{ request.session.reset_email }}" было отправлено письмо
      с инструкцией по восстановлению пароля
    </h2>
    <p class="mt-4 text-lg text-gray-800">
      Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым
      Вы зарегистрировались, и проверьте папку со спамом.
    </p>
  {% else %}
    <h2 class="text-2xl font-bold text-green-900">
      Сообщение о сбросе пароля не было отправлено на адрес электронной почты
    </h2>
    <p class="mt-6">
      <a href="{% url 'password_reset' %}" class="font-semibold text-green-900 hover:text-green-700">
        Попробуйте снова
      </a>
    </p>
  {% endif %}
{% endblock %}
