<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
</head>
<body>

  {% if validlink %}

    <h2>Восстановление пароля</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Восстановить пароль</button>
    </form>

  {% else %}

    <h2>Ошибка восстановления пароля</h2>
    <p>
      Неверная ссылка для восстановления пароля. Возможно, ей уже воспользовались.<br>
      Пожалуйста, попробуйте восстановить пароль еще раз.
    </p>

  {% endif %}

</body>
</html>
