<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
</head>
<body>

  <h2>Письмо с инструкциями по восстановлению пароля отправлено</h2>

  {% if request.session.reset_email %}
    <p>
      На следующий адрес электронной почты было отправлено письмо
      о восстановлении пароля: {{ request.session.reset_email }}
    </p>

    <p>
      Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты
      (если в нашей базе данных есть такой адрес). Вы должны получить ее в ближайшее время.
    </p>

    <p>
      Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым
      Вы зарегистрировались, и проверьте папку со спамом.
    </p>
  {% else %}
    <p>Сообщение о сбросе пароля не было отправлено.</p>
  {% endif %}

</body>
</html>
