{% extends 'base.html' %}

{% load tailwind_filters %}

{% block title %}
  Profile
{% endblock %}

{% block content %}
  {% include 'cards/user_card.html' with user=current_user %}

  <div class="flex flex-col justify-center px-6 py-12">
    <div class="mx-auto w-full max-w-md">
      <h2 class="text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
        Редактирование
      </h2>
    </div>
    <div class="mt-4 mx-auto w-full">
      <form class="space-y-6" action="{% url 'profile' %}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{ form|crispy }}

        <button type="submit" class="flex w-full justify-center border border-green-900 rounded-md bg-white px-3 py-1.5 text-sm font-semibold leading-6 text-green-900 shadow-sm transition-colors duration-150 hover:bg-green-700 hover:text-white">
          обновить профиль
        </button>
      </form>
    </div>
    <div class="text-end mt-4">
      <a href="{% url 'password_change' %}" class="font-semibold text-green-900 hover:text-green-700">сменить пароль</a>
    </div>
  </div>

  {{ form.media }}

{% endblock %}
