{% extends 'base.html' %}

{% block title %}
  Users
{% endblock %}

{% block content %}
  <h2 class="text-2xl font-bold text-green-900">Пользователи</h2>

  <form class="flex items-center mt-4" action="{% url 'user-list' %}"  method="GET">
    <input type="text" value="{{ request.GET.search }}" class="border border-gray-300 rounded-lg w-4/5 px-4 py-2 mr-2" name="search">
    <button type="submit" class="border border-green-900 bg-white text-green-900 rounded-md leading-6 w-1/5 px-3 py-2 text-sm font-semibold text-green-900 shadow-sm transition-colors duration-150 hover:bg-green-700 hover:text-white">Поиск</button>
  </form>

  <div class="flex flex-wrap justify-center gap-4 mt-4">
    {% for user in users %}
      {% include 'cards/user_card.html' with user=user %}
    {% endfor %}
  </div>
{% endblock %}
